@using EntityLayer.Models
@using EntityLayer.Concrete
@model OrderDetailsModel



<div class="container mt-5">

    <div class="row">
        <div class="col-sm-12">
            <table class="table table-borderless">
                <tbody>
                    @* <tr>Sipariş Id: @Model.OrderId</tr> *@
                    <tr>
                        <td><strong>Sipariş Numarası:</strong> @Model.OrderNumber</td>
                    </tr>
                    <tr>
                        <td><strong>Kullanıcı Id:</strong> @Model.CustomerId</td>
                    </tr>
                    <tr>
                        <td><strong>Kullanıcı:</strong> @Model.FullName</td>
                    </tr>
                    <tr>
                        <td><strong>Sipariş Tarihi:</strong>@Model.OrderDate.ToShortDateString()</td>
                    </tr>
                    <tr>
                        <td><strong>Sipariş Tarihi:</strong> @Model.Adress</td>
                    </tr>
                    <tr>
                        <td><strong>Sipariş Tarihi:</strong> @Model.City</td>
                    </tr>
                    <tr>
                        <div class="row">
                            @if (TempData["message"] != null)
                            {
                                <div class="alert alert-success">
                                    @TempData["message"]
                                </div>
                            }
                            @using (Html.BeginForm("UpdateOrderState","Order",FormMethod.Post))
                            {
                                @Html.HiddenFor(i=>i.OrderId)
                                <div class="col-md-3">
                                    @{
                                        var orderStateValues = Enum.GetValues(typeof(EnumOrderState)).Cast<EnumOrderState>().Select(e => new SelectListItem { Text = e.ToString(), Value = e.ToString() });
                                        var currentOrderState = Model.OrderState.ToString();
                                    }
                                    @Html.DropDownListFor(i => i.OrderState, orderStateValues, new { @class = "form-control" })
                                </div>
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-primary">Kaydet</button>
                                </div>
                            }
                            
                        </div>
                    </tr>

                </tbody>
            </table>
            <hr />
        </div>
    </div>




    <div class="row">
        <div class="col-md-12">
            <h2>Sipariş Detayı</h2>
            <hr />
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Ürün Görseli</th>
                        <th>Ürün Adı</th>
                        <th>Adet</th>
                        <th>Fiyat</th>
                        <th>Toplam</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.OrderLines)
                    {
                        <tr>
                            <td><img src="@item.Image" style="width:50px;" /></td>
                            <td>@item.ProductName</td>
                            <td>@item.Quantity</td>
                            <td>@item.Price₺</td>
                            <td>@(item.Quantity * item.Price)₺</td>
                            <td><a asp-controller="Product" asp-action="Details" asp-route-id="@item.ProductId" class="btn btn-success btn-sm" target="_blank">Ürüne Detay</a></td>
                        </tr>
                    }
                </tbody>

            </table>



        </div>
    </div>
</div>


