@model IEnumerable<EntityLayer.Concrete.Product>


<div class="contentDetails mt-5">
    <div class="col-lg-8 border p-3 main-section bg-white">
        <div class="row hedding m-0 pl-3 pt-0 pb-3">
            @foreach (var item in Model)
            {
                <p>@item.ProductName </p>
            }

        </div>
        <div class="row m-0">
            <div class="col-lg-4 left-side-product-box pb-3">

                @foreach (var item in Model)
                {
                    <img src="@item.Image" class="border p-3">
                }

                @* <span class="sub-img">
                <img src="~/FrontendProje/img/NoProductimg.jpg" class="border p-2">
                <img src="~/FrontendProje/img/NoProductimg.jpg" class="border p-2">
                <img src="~/FrontendProje/img/NoProductimg.jpg" class="border p-2">
                </span> *@

            </div>

            <div class="col-lg-8">
                <div class="right-side-pro-detail border p-3 m-0" style="background-color:rgb(246,237,217);">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-lg-12">

                                @* <span>@item.CategoryName</span> *@
                                <p class="m-0 p-0">@item.ProductName</p>
                            </div>
                            <div class="col-lg-12">
                                <p class="m-0 p-0 price-pro">@item.Price₺</p>
                                <hr class="p-0 m-0">
                            </div>
                            <div class="col-lg-12 pt-2">
                                <h5>Ürün Detayı</h5>
                                <span>
                                    @item.Description
                                </span>
                                <hr class="m-0 pt-2 mt-2">
                            </div>
                            @* <div class="col-lg-12">
                        <p class="tag-section"><strong>Tag : </strong><a href="">Woman</a><a href="">,Man</a></p>
                        </div> *@
                            <div class="col-lg-12">
                                <h6>Adet :</h6>
                                <input type="number" class="form-control text-center w-100" value="1">
                            </div>
                            <div class="col-lg-12 mt-3">
                                <div class="row">
                                    
                                    <div class="col-lg-6">
                                        @using (Html.BeginForm("AddToCart", "Cart"))
                                        {
                                            <input type="hidden" name="id" value="@item.ProductId">
                                            <button type="submit" class="btn btn-primary">Sepete Ekle</button>
                                        }
                                    </div>
                                </div>
                            </div>
                        }


                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center pt-3">
            </div>
        </div>
        @await Component.InvokeAsync("Last4Product")
    </div>
</div>